<div id="about" class="about-section about-style-6 mb-80" style= 'margin-bottom: 195px;'>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="signup-content-wrapper">

          <div class="image">
            <%= image_tag("signup/pwd.svg", width: "80%", style:"padding-top: 0px;") %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="section-title">
            <h3 class="mb-20">Mot de passe oublié?</h3>
          </div>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      input_html: { autocomplete: "email" } %>
        </div>
        <br>
        <div class="form-actions">
          <%= f.button :submit, "M'envoyer les instructions", class: "btn btn-primary radius-10", style: "padding: 8px 24px; border-radius: 50px; transition: opacity 0.3s ease; background-color: #222B34;"%>
          <%= link_to 'Retour', root_path, class: "btn btn-secondary", style: "padding: 8px 24px; border-radius: 50px; transition: opacity 0.3s ease;"%>
        </div>
        <% end %>
         <br>
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
