        <!-- ========================= footer style-1 footer-dark start ========================= -->
    <div class="footer footer-style-1 footer-dark mb-80">
      <div class="container">
        <div class="widget-wrapper">
          <div class="row" >
             <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="footer-widget">
                <div class="logo">
                <%= image_tag("logo/mini-white.png", height: "220px") %>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="footer-widget">
                <h6>Allo Garant</h6>
                <ul class="links">
                  <!-- <li> <%= link_to "Accueil", root_path %> </li> -->
                  <li> <%= link_to "Qui sommes nous?", about_path %> </li>
                  <li> <%= link_to "FAQ", faq_path %> </li>
                  <li> <%= link_to "Nous Contacter", new_contact_path %> </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="footer-widget">
                <h6>Aide & Support</h6>
                <ul class="links">
                  <li> <%= link_to "Mentions légales", mentions_legales_path %> </li>
                  <li> <%= link_to "CGU", conditions_generales_path %> </li>
                  <li> <%= link_to "Données personnelles", politique_de_confidentialite_path %> </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="footer-widget">
                <h6>Nous sommes joignables</h6>
                <div class="single-item">
                  <div class="text">
                    <p><i class="fas fa-phone-alt"></i> +212 6 61 33 47 64</p>
                    <p><i class="fas fa-phone-alt"></i> +33 6 09 27 86 36</p>
                  </div>
                </div>
                <div class="single-item">
                  <div class="text">
                    <p><i class="far fa-envelope"></i> contact@allogarant.com</p>
                  </div>
                </div>
                <ul class="socials">
                  <li style="text-decoration: none; "> <a href="https://www.facebook.com/allogarant"> <i class="fab fa-facebook"></i> </a> </li>
                  <li style="text-decoration: none;" > <a href="https://www.instagram.com/allogarant"> <i class="fab fa-instagram"></i> </a> </li>
                  <li style="text-decoration: none;"> <a href="https://fr.linkedin.com/company/allogarant"> <i class="fab fa-linkedin"></i> </a> </li>
                </ul>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ========================= footer style-1 footer-dark end ========================= -->
