<div id="about" class="about-section about-style-6 mb-80" style= 'margin-bottom: 116px;'>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="signup-content-wrapper">
          <div class="section-title text-center">
            <h3 class="mb-20">Bienvenue</h3>
            <p>Nous sommes heureux de te revoir !! </p>
          </div>
          <div class="image text-center">
            <%= image_tag("signup/welcome.svg", width: "80%", style:"padding-top: 0px;") %>
          </div>
          <br>
        </div>
      </div>
      <div class="col-lg-6">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Se connecter", class: "btn btn-primary radius-10", style: "padding: 8px 24px; border-radius: 50px; transition: opacity 0.3s ease; background-color: #222B34;"%>
          <%= link_to 'Retour', root_path, class: "btn btn-secondary", style: "padding: 8px 24px; border-radius: 50px; transition: opacity 0.3s ease;"%>
        </div>
        <% end %>
         <br>
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
